In [ ]:
Projekt


Uvod

In [3]:
import pandas as pd
projekt=pd.read_csv('rezultati.csv', index_col='year')
rezultat=pd.read_csv('rezultati.csv')
pd.options.display.max_rows=20

In [4]:
projekt

,country,firstname,lastname,problem1,problem2,problem3,problem4,problem5,problem6,total,rank,award
year,,,,,,,,,,,,
1984,BGR,Diko B.,Mihov,7.0,7.0,7.0,7.0,7.0,7.0,42,1,Gold medal
1984,GDR,Karin,Gröger,7.0,7.0,7.0,7.0,7.0,7.0,42,1,Gold medal
1984,ROU,Daniel,Tătaru,7.0,7.0,7.0,7.0,7.0,7.0,42,1,Gold medal
1984,USS,Andrey,Astrelin,7.0,7.0,7.0,7.0,7.0,7.0,42,1,Gold medal
1984,USS,Konstantin,Ignatiev,7.0,7.0,7.0,7.0,7.0,7.0,42,1,Gold medal
...,...,...,...,...,...,...,...,...,...,...,...,...
2017,KEN,Beracah May,Nyang'Or,0.0,0.0,0.0,0.0,0.0,0.0,0,604,NaN
2017,MMR,Wai Yan Moe,Lwin,0.0,0.0,0.0,0.0,0.0,0.0,0,604,NaN
2017,NPL,Awanish,Khanal,0.0,0.0,0.0,0.0,0.0,0.0,0,604,NaN
2017,NPL,Bivek,Panthi,0.0,0.0,0.0,0.0,0.0,0.0,0,604,NaN
2017,NPL,Prashanna,Shrestha,0.0,0.0,0.0,0.0,0.0,0.0,0,604,NaN